flows.json
[{"id":"eeec17d8.0a79a8","type":"tab","label":"Projet","disabled":false,"info":""},{"id":"c63fd156.7e46a","type":"mqtt in","z":"eeec17d8.0a79a8","name":"","topic":"zigbee2mqtt/bouton","qos":"0","datatype":"auto","broker":"29939481.25d7ac","x":90,"y":280,"wires":[["3283d468.ae6b5c"]]},{"id":"4b1cf16b.cf6df","type":"mqtt out","z":"eeec17d8.0a79a8","name":"","topic":"esp5/change","qos":"","retain":"","broker":"29939481.25d7ac","x":1070,"y":220,"wires":[]},{"id":"ce6dcbbb.f87b08","type":"switch","z":"eeec17d8.0a79a8","name":"","property":"payload.click","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":240,"wires":[["dc6f6adf.599018"]]},{"id":"adc4b9de.34a7b8","type":"debug","z":"eeec17d8.0a79a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":80,"wires":[]},{"id":"c4348e79.21bcb","type":"debug","z":"eeec17d8.0a79a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":420,"y":160,"wires":[]},{"id":"3283d468.ae6b5c","type":"json","z":"eeec17d8.0a79a8","name":"","property":"payload","action":"","pretty":false,"x":280,"y":280,"wires":[["c4348e79.21bcb","ce6dcbbb.f87b08"]]},{"id":"dc6f6adf.599018","type":"function","z":"eeec17d8.0a79a8","name":"","func":"let change = flow.get('change') || 'H';\n\nif(change === 'H'){\n    flow.set('change', 'T')\n}\nelse{\n    flow.set('change', 'H')\n}\nmsg.payload = flow.get('change');\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":160,"wires":[["4b1cf16b.cf6df","adc4b9de.34a7b8"]]},{"id":"f32f677f.cad3d8","type":"influxdb out","z":"eeec17d8.0a79a8","influxdb":"93b9bb69.f7e0d8","name":"","measurement":"temp_Axel_Louis","precision":"","retentionPolicy":"","x":510,"y":560,"wires":[]},{"id":"9e5e193.3d790e8","type":"mqtt in","z":"eeec17d8.0a79a8","name":"","topic":"esp5/temp","qos":"2","datatype":"auto","broker":"29939481.25d7ac","x":80,"y":560,"wires":[["f32f677f.cad3d8","ed3d6a03.01eb08","a08b8777.abd178"]]},{"id":"f1d5655e.1ce428","type":"influxdb out","z":"eeec17d8.0a79a8","influxdb":"93b9bb69.f7e0d8","name":"","measurement":"humid_Axel_Louis","precision":"","retentionPolicy":"","x":510,"y":660,"wires":[]},{"id":"2dc6a935.263b66","type":"mqtt in","z":"eeec17d8.0a79a8","name":"","topic":"esp5/humid","qos":"2","datatype":"auto","broker":"29939481.25d7ac","x":130,"y":660,"wires":[["f1d5655e.1ce428"]]},{"id":"d5c32dab.62279","type":"mqtt out","z":"eeec17d8.0a79a8","name":"","topic":"zigbee2mqtt/ampoule/set/color","qos":"","retain":"","broker":"29939481.25d7ac","x":580,"y":460,"wires":[]},{"id":"ed3d6a03.01eb08","type":"function","z":"eeec17d8.0a79a8","name":"","func":"const maxTemp = 50;\nconst minTemp = 10;\nconst temp = parseInt(msg.payload);\nconst redVal = 255 / (maxTemp - minTemp) * (temp - minTemp);\nconst blueVal = 255 / (maxTemp - minTemp) * (maxTemp - temp);\nconst greenVal = 80;\n\nvar rgbToHex = function (rgb) { \n    rgb = parseInt(rgb);\n  var hex = Number(rgb).toString(16);\n  if (hex.length < 2) {\n       hex = \"0\" + hex;\n  }\n  return hex;\n};\n\nmsg.payload = \"#\" + rgbToHex(redVal)+ rgbToHex(greenVal)+ rgbToHex(blueVal);\nreturn msg;\n\n","outputs":1,"noerr":0,"x":240,"y":480,"wires":[["d5c32dab.62279","89350b47.6ba498"]]},{"id":"89350b47.6ba498","type":"debug","z":"eeec17d8.0a79a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":500,"y":380,"wires":[]},{"id":"a08b8777.abd178","type":"debug","z":"eeec17d8.0a79a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":120,"y":420,"wires":[]},{"id":"29939481.25d7ac","type":"mqtt-broker","z":"","name":"esp","broker":"10.12.3.250","port":"1883","clientid":"AXELOLOU","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"93b9bb69.f7e0d8","type":"influxdb","z":"","hostname":"10.12.3.250","port":"8086","protocol":"http","database":"Reims","name":"","usetls":false,"tls":""}]